/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Burger Menu Styles */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-links {
    display: flex;
}

.nav-links.mobile {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 90px; /* Adjust based on the height of your header */
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-links.mobile.active {
    display: flex;
    align-items: end;
}

.nav-links.mobile.active li {
    padding: 10px;
    margin-top: 5px;
}

.nav-links.mobile a {
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    color: #333;
}

.nav-links.mobile a:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .nav-links.mobile {
        display: flex;
    }
}

/* Header */
header {
    background-color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #888;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #ff6c00;
}

.cart-icon {
    font-size: 20px;
}

/* Contact Footer */
.contact-footer {
    background-color: #ff9933;
    padding: 20px 0;
    color: #ffffff;
}

.contact-info {
    display: flex;
    justify-content: space-around;
}

.contact-section {
    text-align: center;
}

.contact-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.contact-section p {
    font-size: 14px;
}

/* Contact Section */
.contact-form-section {
    padding: 40px 0;
    background-color: #f8f8f8;
    color: #333;
}

.contact-form-section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    width: 85vw;
    margin: 0 auto; /* Center the container */
}

.contact-info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-info-form p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
}

.contact-form, .contact-info-form {
    flex: 1;
    min-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info-form strong{
    color: #ff6c00;
}

.contact-form h2, .contact-info-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff6c00;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #ff6c00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #e65c00;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #222;
    padding: 30px 0;
    color: #888;
    position: relative;
    min-height: 100px; /* Ensure footer has some height */
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    padding: 0 15px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #ccc;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 8px;
    font-size: 14px;
}

footer .footer-content {
    padding-bottom: 40px; /* Add padding to make space for the copyright */
}

footer .copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #111;
    color: #666;
    font-size: 12px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .header-content {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .hero {
        height: 50vh;
    }

    .features {
        flex-direction: column;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery-image img {
        height: auto;
    }

    .contact-info {
        flex-direction: column;
    }

    .footer-content {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .hero-logo {
        max-width: 80%;
    }

    .tagline h2 {
        font-size: 16px;
    }

    .feature h3 {
        font-size: 14px;
    }

    .feature p {
        font-size: 12px;
    }

    .contact-banner h3 {
        font-size: 14px;
    }

    .contact-banner p {
        font-size: 12px;
    }

    .whatsapp-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .service-feature h2 {
        font-size: 20px;
    }

    .service-feature p {
        font-size: 12px;
    }

    .approved-dealers h2 {
        font-size: 18px;
    }

    .dealer-logo {
        width: 200px;
        height: 200px;
    }

    .contact-section h3 {
        font-size: 14px;
    }

    .contact-section p {
        font-size: 12px;
    }

    .footer-section h3 {
        font-size: 14px;
    }

    .footer-section ul li {
        font-size: 12px;
    }
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}
.popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.popup-close:hover,
.popup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.popup-icon {
    font-size: 50px;
    color: green;
}
.popup-message p {
    margin: 20px 0;
    color: #45a049;
}
.popup-message button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.popup-message button:hover {
    background-color: #45a049;
}